* {
  font-family: 'Raleway', sans-serif;
}
.emptySpaceDivAboveFooter{
  min-height:120px;
}
@media (min-width: 992px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .taskListContainer{
    overflow-y: auto;
    min-height: auto;
    max-height: 68vh;
  }
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}


.darkModeBg{
  background-color: #071E3D;
}
.darkModeColor{
  color: #f8f9fa;
}
.darkModeColor:focus {
  color: #f8f9fa;
}
.darkModeColor:hover{
  color: #f8f9fa;
}
.lightModeBg{
  background-color: #ffffff;
}
.lightModeColor{
  color: #071E3D;
}
.lightModeColor:focus{
  color: #071E3D;
}
.lightModeColor:hover{
  color: #071E3D;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
  border-radius: 50rem;
}
::-webkit-scrollbar-thumb{
  background-color: #6C757D;
  border-radius: 50rem;
}
input[type="datetime-local"]::-webkit-calendar-picker-indicator{
}